@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:slnt,wght@-8,100..900&family=Bitcount+Prop+Double:wght@100..900&family=Pacifico&display=swap');

body {
    
    background-size: cover;
    background-image: url(https://imagens.ebc.com.br/f0xBJtGd9zN4rfk4F1Yt8BZBv6I=/1170x700/smart/https://agenciabrasil.ebc.com.br/sites/default/files/thumbnails/image/2025/09/06/54770136894_59403684a2_o.jpg?itok=O_0MAj6E);
    
}

.title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 90px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Pacifico', sans-serif;
    text-shadow:     
       -2px -1px 0 black,
        1px -1px 0 black,
       -2px  1px 0 black,
        1px  1px 0 black;
}

.card {
    border: 5px black solid;
    background: linear-gradient(rgba(255, 255, 255, 0.774), rgba(255, 255, 255, 0.5)),
    url("../Img/Fundo card.JPG");
    flex: 1 1 250px;
    padding: 10px;
    margin: 60px;
    max-width: 300px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    min-height: 550px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:     
       -1px -1px 0 rgb(255, 255, 255),
        1px -1px 0 rgb(255, 255, 255),
       -1px  1px 0 rgb(255, 255, 255),
        1px  1px 0 rgb(255, 255, 255);
    font-size: 40px;
    line-height: 0;
    text-align: center;
}

li {
    font-size: 25px;
}

.adiciona_task {
    border-radius: 8px;
}

button {
    border-radius: 10px;
}

ul {
    margin-top: 60px;
    list-style: none;
    padding: 0;
}

.remover {
    border-radius: 50px;
    cursor: pointer;
}

.remover {
    width: 20px;
    height: 20px;

}